check-emoncms-inactive-feeds
[
  {
    "id": "7c73772b.473a48",
    "type": "function",
    "z": "36f4d48.473412c",
    "name": "Check to see if feed has been updated since last check",
    "func": "var new_update = msg.payload.time;\n\nvar old_update = global.get(\"old_update\");\n\nif (new_update == old_update){\n    \/\/ if feed has not been updated the new update\n    \/\/ time will equal the old update time\n    \/\/ payload is returned if feed has NOT BEEN UPDATED\n    return {payload: 'Emoncms feed ' + msg.payload.id + ' called \\'' + msg.payload.name + '\\' has not updated since ' + msg.payload.time + ' UTC'};\n}\n\nglobal.set(\"old_update\",new_update);\n",
    "outputs": 1,
    "noerr": 0,
    "x": 338,
    "y": 275,
    "wires": [
      [
        "ae6c3d89.c73bd",
        "ea8deedf.86155"
      ]
    ]
  },
  {
    "id": "123ea097.541e9f",
    "type": "http request",
    "z": "36f4d48.473412c",
    "name": "GET latest feed info from Emoncms",
    "method": "GET",
    "ret": "obj",
    "url": "https:\/\/emoncms.org\/feed\/aget.json?id=xxxx&apikey=xxxxx",
    "tls": "",
    "x": 334,
    "y": 191,
    "wires": [
      [
        "eebad506.ea6a38",
        "7c73772b.473a48"
      ]
    ]
  },
  {
    "id": "7855fbe5.1f42a4",
    "type": "inject",
    "z": "36f4d48.473412c",
    "name": "Poke every 30min",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1800",
    "crontab": "",
    "once": true,
    "x": 181,
    "y": 106,
    "wires": [
      [
        "123ea097.541e9f"
      ]
    ]
  },
  {
    "id": "eebad506.ea6a38",
    "type": "debug",
    "z": "36f4d48.473412c",
    "name": "Feed info (debug)",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 613.5,
    "y": 142.5,
    "wires": [
      
    ]
  },
  {
    "id": "ae6c3d89.c73bd",
    "type": "debug",
    "z": "36f4d48.473412c",
    "name": "Feed has not updated",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 686,
    "y": 262.5,
    "wires": [
      
    ]
  },
  {
    "id": "265530e7.13edb",
    "type": "e-mail",
    "z": "36f4d48.473412c",
    "server": "smtp.gmail.com",
    "port": "465",
    "name": "xxxx@xxxx",
    "dname": "Email Alert",
    "x": 683,
    "y": 320.5,
    "wires": [
      
    ]
  },
  {
    "id": "ea8deedf.86155",
    "type": "delay",
    "z": "36f4d48.473412c",
    "name": "Limit to 2 emails per day",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "2",
    "nbRateUnits": "1",
    "rateUnits": "day",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 474.5,
    "y": 367,
    "wires": [
      [
        "265530e7.13edb"
      ]
    ]
  }
]
