flows_emonpi.json
[{"id":"8a9d92d6.75627","type":"mqtt-broker","z":"a5ce04b2.5a31f8","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"d580a1ae.2a7f6","type":"mqtt in","z":"a5ce04b2.5a31f8","name":"emon/#","topic":"emon/#","broker":"8a9d92d6.75627","x":375,"y":215,"wires":[["a697650a.596898"]]},{"id":"a697650a.596898","type":"debug","z":"a5ce04b2.5a31f8","name":"View all 'emon/#' MQTT traffic","active":false,"console":"false","complete":"payload","x":609,"y":212,"wires":[]},{"id":"3c36e1ef.c3c91e","type":"mqtt in","z":"a5ce04b2.5a31f8","name":"emon/emonth5/battery","topic":"emon/emonth5/battery","broker":"8a9d92d6.75627","x":369,"y":396,"wires":[["1ca466f2.e35b99"]]},{"id":"42a47644.bd5b88","type":"mqtt in","z":"a5ce04b2.5a31f8","name":"emon/emonth1/battery","topic":"emon/emonth1/battery","broker":"8a9d92d6.75627","x":326,"y":339,"wires":[["1ca466f2.e35b99"]]},{"id":"1ca466f2.e35b99","type":"function","z":"a5ce04b2.5a31f8","name":"If emonTH battery < 1.7V","func":"if (msg.payload < 1.7) {\n   return {payload:'WARNING: emonTH battery low  '+msg.payload+'V'  };\n}\nreturn msg;","outputs":1,"noerr":0,"x":624,"y":287,"wires":[["2c16c174.d3e93e"]]},{"id":"619b55e7.9e64ac","type":"e-mail","z":"a5ce04b2.5a31f8","server":"smtp.gmail.com","port":"465","name":"","dname":"Send email notification [ENTER YOUR SMTP CONFIG]","x":994,"y":316,"wires":[]},{"id":"2c16c174.d3e93e","type":"delay","z":"a5ce04b2.5a31f8","name":"Limit to one email per day","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":669,"y":382,"wires":[["619b55e7.9e64ac"]]},{"id":"6ab7a826.954858","type":"mqtt in","z":"a5ce04b2.5a31f8","name":"emon/emonpi/power1","topic":"emon/emonpi/power1","broker":"8a9d92d6.75627","x":376,"y":490,"wires":[["d3fa2502.2c05d8"]]},{"id":"d3fa2502.2c05d8","type":"debug","z":"a5ce04b2.5a31f8","name":"View emonPi power output","active":false,"console":"false","complete":"payload","x":665,"y":490,"wires":[]}]
