flows_emonpi.json
[{"id":"a5ce04b2.5a31f8","type":"tab","label":"emonPi"},{"id":"a9e8d5d4.c29278","type":"tab","label":"emonESP test"},{"id":"16a8d884.6348f7","type":"tab","label":"Emoncms.org monitoring"},{"id":"552554ba.74c5fc","type":"tab","label":"weather"},{"id":"692269ce.5fa048","type":"subflow","name":"timestamp v2","info":"Input:\n- \"msg.payload\" is input string to be stored in\nlog file.\n- log file stored per msg.filename\n\n\nOutput:\n- timestamp and inputstring stored in logfile\n- ","in":[{"x":60,"y":160,"wires":[{"id":"97a2990d.22da68"}]}],"out":[{"x":600,"y":200,"wires":[{"id":"b771ec96.c2dec","port":0}]}]},{"id":"8a9d92d6.75627","type":"mqtt-broker","z":"a5ce04b2.5a31f8","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7599be2c.7d61c","type":"mqtt-broker","z":"a9e8d5d4.c29278","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3a55a2f1.8d6ade","type":"mqtt-broker","z":"a9e8d5d4.c29278","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"627bbfad.f9601","type":"mqtt-broker","z":"a9e8d5d4.c29278","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"396670b0.0ef31","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"495a980d.b5ddd8","type":"emoncms-server","z":"a9e8d5d4.c29278","server":"http://emonpi","name":""},{"id":"813e31c3.77b9","type":"emoncms-server","z":"16a8d884.6348f7","server":"http://emoncms.org","name":"emoncms admin buzz"},{"id":"80852ef.fc44ad","type":"emoncms-server","z":"552554ba.74c5fc","server":"http://192.168.0.35/emoncms","name":"emonpi"},{"id":"8d9bb244.7ccb2","type":"mqtt-broker","z":"","broker":"192.168.0.35","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"d580a1ae.2a7f6","type":"mqtt in","z":"a5ce04b2.5a31f8","name":"emon/#","topic":"emon/#","broker":"8a9d92d6.75627","x":375,"y":215,"wires":[["a697650a.596898"]]},{"id":"a697650a.596898","type":"debug","z":"a5ce04b2.5a31f8","name":"View all 'emon/#' MQTT traffic","active":false,"console":"false","complete":"payload","x":609,"y":212,"wires":[]},{"id":"3c36e1ef.c3c91e","type":"mqtt in","z":"a5ce04b2.5a31f8","name":"emon/emonth5/battery","topic":"emon/emonth5/battery","broker":"8a9d92d6.75627","x":369,"y":396,"wires":[["1ca466f2.e35b99"]]},{"id":"42a47644.bd5b88","type":"mqtt in","z":"a5ce04b2.5a31f8","name":"emon/emonth1/battery","topic":"emon/emonth1/battery","broker":"8a9d92d6.75627","x":326,"y":339,"wires":[["1ca466f2.e35b99"]]},{"id":"1ca466f2.e35b99","type":"function","z":"a5ce04b2.5a31f8","name":"If emonTH battery < 1.7V","func":"if (msg.payload < 1.7) {\n   return {payload:'WARNING: emonTH battery low  '+msg.payload+'V'  };\n}\nreturn msg;","outputs":1,"noerr":0,"x":624,"y":287,"wires":[["2c16c174.d3e93e"]]},{"id":"619b55e7.9e64ac","type":"e-mail","z":"a5ce04b2.5a31f8","server":"smtp.gmail.com","port":"465","name":"","dname":"Send email notification [ENTER YOUR SMTP CONFIG]","x":994,"y":316,"wires":[]},{"id":"2c16c174.d3e93e","type":"delay","z":"a5ce04b2.5a31f8","name":"Limit to one email per day","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":669,"y":382,"wires":[["619b55e7.9e64ac"]]},{"id":"6ab7a826.954858","type":"mqtt in","z":"a5ce04b2.5a31f8","name":"emon/emonpi/power1","topic":"emon/emonpi/power1","broker":"8a9d92d6.75627","x":376,"y":490,"wires":[["d3fa2502.2c05d8"]]},{"id":"d3fa2502.2c05d8","type":"debug","z":"a5ce04b2.5a31f8","name":"View emonPi power output","active":false,"console":"false","complete":"payload","x":665,"y":490,"wires":[]},{"id":"b771ec96.c2dec","type":"function","z":"692269ce.5fa048","name":"add timestamp v2","func":"var now = new Date();\nif (msg.filename === undefined) {\n        msg.filename = \"/home/pi/data/undefined.log\";\n    }\nmsg.payload = now.toString() + \"\\t\" + now.valueOf() + \"\\t\" + msg.payload;\nreturn msg;","outputs":"1","noerr":0,"x":430,"y":160,"wires":[["7aed6d7.ab18594"]]},{"id":"7aed6d7.ab18594","type":"file","z":"692269ce.5fa048","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":630,"y":140,"wires":[]},{"id":"97a2990d.22da68","type":"switch","z":"692269ce.5fa048","name":"Drop \"Null\"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"false","outputs":2,"x":210,"y":160,"wires":[["b771ec96.c2dec"],[]]},{"id":"2ed97a76.6dee86","type":"debug","z":"a9e8d5d4.c29278","name":"","active":false,"console":"false","complete":"false","x":899,"y":322,"wires":[]},{"id":"d07e78a.d9f2988","type":"http request","z":"a9e8d5d4.c29278","name":"","method":"GET","ret":"txt","url":"{{{payload}}}","tls":"","x":653,"y":346.5,"wires":[["2ed97a76.6dee86"]]},{"id":"d54325d0.b60d88","type":"inject","z":"a9e8d5d4.c29278","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":338,"y":373.5,"wires":[["37525f7f.840cd"]]},{"id":"6977c796.33cf58","type":"mqtt in","z":"a9e8d5d4.c29278","name":"","topic":"emonesp","qos":"2","broker":"396670b0.0ef31","x":445,"y":510.5,"wires":[["e1737b57.c4e9a8"]]},{"id":"cf8a11d.e27d0f","type":"debug","z":"a9e8d5d4.c29278","name":"","active":false,"console":"false","complete":"false","x":726,"y":477,"wires":[]},{"id":"43be8c0.cd01274","type":"debug","z":"a9e8d5d4.c29278","name":"","active":false,"console":"false","complete":"false","x":618,"y":236,"wires":[]},{"id":"37525f7f.840cd","type":"function","z":"a9e8d5d4.c29278","name":"","func":"var url = \"http://192.168.0.75/test?serial=CT1:3935,CT2:225,T1:12.5,T2:16.9,T3:11.2,T4:34.7,t:\"\nvar newMsg = { payload: url + msg.payload };\nreturn newMsg;","outputs":1,"noerr":0,"x":453,"y":263.5,"wires":[["43be8c0.cd01274","d07e78a.d9f2988"]]},{"id":"e1737b57.c4e9a8","type":"function","z":"a9e8d5d4.c29278","name":"","func":"var newMsg = {payload: \"{\" + msg.payload+\"}\" };\nreturn newMsg;","outputs":1,"noerr":0,"x":589.5,"y":596.5,"wires":[["cf8a11d.e27d0f","b5d6a1f6.6d6b7"]]},{"id":"b5d6a1f6.6d6b7","type":"file","z":"a9e8d5d4.c29278","name":"","filename":"/home/pi/data/mqtt-esp.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":851.5,"y":615.5,"wires":[]},{"id":"78361db4.0b89a4","type":"emoncms in","z":"16a8d884.6348f7","name":"Emoncms.org free disk space","emonServer":"813e31c3.77b9","feedid":"2633","x":516,"y":253,"wires":[["61c4d3c3.d5c0bc","54e85b22.a29a74"]]},{"id":"ecdaba3d.9637c8","type":"emoncms in","z":"16a8d884.6348f7","name":"Emoncms.org input queue","emonServer":"813e31c3.77b9","feedid":"26809","x":502,"y":359,"wires":[["69cca600.e3dc48","bca5813.feacd8"]]},{"id":"69cca600.e3dc48","type":"debug","z":"16a8d884.6348f7","name":"","active":false,"console":"false","complete":"false","x":741,"y":352,"wires":[]},{"id":"61c4d3c3.d5c0bc","type":"debug","z":"16a8d884.6348f7","name":"","active":false,"console":"false","complete":"false","x":764,"y":274,"wires":[]},{"id":"44ff2c74.d79634","type":"inject","z":"16a8d884.6348f7","name":"check once per hr","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":210,"y":262,"wires":[["78361db4.0b89a4","ecdaba3d.9637c8"]]},{"id":"54e85b22.a29a74","type":"function","z":"16a8d884.6348f7","name":"If less then 10Gb","func":"if (msg.payload < 10000.0) {\n   return {payload:'WARNING: emoncms.org low diskspace  '+msg.payload+'B'  };\n}","outputs":1,"noerr":0,"x":728,"y":174,"wires":[["4ff4db18.48d1e4","2d26a1a2.f9c5ee"]]},{"id":"bca5813.feacd8","type":"function","z":"16a8d884.6348f7","name":"If greater 10K","func":"if (msg.payload > 10000.0) {\n   return {payload:'WARNING: emoncms.org input queue high '+msg.payload  };\n}","outputs":1,"noerr":0,"x":723,"y":430,"wires":[["7939e7b.0249318","24e8f792.b8c478"]]},{"id":"21356cd2.f371b4","type":"e-mail","z":"16a8d884.6348f7","server":"smtp.gmail.com","port":"465","name":"glyn.hudson@gmail.com, trystan.lea@gmail.com","dname":"Send email notification ","x":1087,"y":302,"wires":[]},{"id":"a69e335d.e5739","type":"inject","z":"16a8d884.6348f7","name":"test notification ","topic":"","payload":"Testing notification email","payloadType":"str","repeat":"","crontab":"","once":false,"x":1100,"y":435,"wires":[["21356cd2.f371b4"]]},{"id":"87c273f6.6d531","type":"inject","z":"16a8d884.6348f7","name":"test low disk","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"x":375,"y":149,"wires":[["54e85b22.a29a74"]]},{"id":"4ff4db18.48d1e4","type":"debug","z":"16a8d884.6348f7","name":"","active":false,"console":"false","complete":"false","x":931,"y":151,"wires":[]},{"id":"7939e7b.0249318","type":"debug","z":"16a8d884.6348f7","name":"","active":false,"console":"false","complete":"false","x":817,"y":505,"wires":[]},{"id":"2d26a1a2.f9c5ee","type":"delay","z":"16a8d884.6348f7","name":"Limit to 3 email per day","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1044,"y":222,"wires":[["21356cd2.f371b4"]]},{"id":"24e8f792.b8c478","type":"delay","z":"16a8d884.6348f7","name":"Limit to 3 email per day","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":963,"y":380,"wires":[[]]},{"id":"8401b9fc.e8af98","type":"inject","z":"552554ba.74c5fc","name":"Poke every 30min","topic":"","payload":"","payloadType":"str","repeat":"1800","crontab":"","once":true,"x":427,"y":447.3333740234375,"wires":[["e6315c7a.2f9cf"]]},{"id":"32c3406d.3a05d","type":"mqtt out","z":"552554ba.74c5fc","name":"MQTT:emon/weather/temp","topic":"emon/weather/temp","qos":"","retain":"","broker":"396670b0.0ef31","x":993.6666870117188,"y":310,"wires":[]},{"id":"22fc5f10.321e8","type":"debug","z":"552554ba.74c5fc","name":"","active":true,"console":"false","complete":"payload","x":905.6666870117188,"y":226,"wires":[]},{"id":"9130d040.22a15","type":"debug","z":"552554ba.74c5fc","name":"View full output","active":true,"console":"false","complete":"payload","x":715,"y":420.3333740234375,"wires":[]},{"id":"907229c3.f65008","type":"function","z":"552554ba.74c5fc","name":"Return temp deg C","func":"context.global.outdoor_temp = msg.payload.tempc;  \nreturn {payload:context.global.outdoor_temp};","outputs":1,"noerr":0,"x":667,"y":285.3333435058594,"wires":[["32c3406d.3a05d","22fc5f10.321e8"]]},{"id":"e6315c7a.2f9cf","type":"wunderground","z":"552554ba.74c5fc","name":"","lon":"0.014394","lat":"51.588269","city":"","country":"","x":454.66668701171875,"y":360,"wires":[["9130d040.22a15","907229c3.f65008"]]}]
