flows_emonpi.json
[{"type":"tab","id":"78a5ac8d.875a54","label":"Sheet 1"},{"id":"19211dbb.e6dee2","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"f35fc309.0ca04","type":"mqtt in","z":"78a5ac8d.875a54","name":"MQTT: emonhub/rx/#","topic":"emonhub/rx/#","broker":"19211dbb.e6dee2","x":129,"y":299,"wires":[["93bb1f76.6c44e","df4eb56b.20b148"]]},{"id":"93bb1f76.6c44e","type":"debug","z":"78a5ac8d.875a54","name":"Raw MQTT output: emonhub/rx/#","active":false,"console":"false","complete":"topic","x":212,"y":374,"wires":[]},{"id":"df4eb56b.20b148","type":"switch","z":"78a5ac8d.875a54","name":"Seperate Nodes by nodeID","property":"topic","rules":[{"t":"cont","v":"5"},{"t":"cont","v":"19"},{"t":"cont","v":"23"}],"checkall":"true","outputs":3,"x":313,"y":230,"wires":[["5e9f82c8.a1607c"],["7028aaa2.8fd754"],["d083a4f0.2f7c58"]]},{"id":"7028aaa2.8fd754","type":"csv","z":"78a5ac8d.875a54","name":"emonTH 19: emonhub/19/values > Decode MQTT CSV","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"temp,temp_external,humidity,battery,pulsecount","x":636,"y":215,"wires":[["695e9bb7.96a164"]]},{"id":"5e9f82c8.a1607c","type":"csv","z":"78a5ac8d.875a54","name":"emonPi: emonhub/5/values > Decode MQTT CSV","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"power1,power2,power1_plus_2,Vrms,temp1,temp2,temp3,temp4,temp5,temp6,pulseCount","x":617,"y":149,"wires":[["412d8449.bed27c"]]},{"id":"412d8449.bed27c","type":"debug","z":"78a5ac8d.875a54","name":"Debug: emonPi Power1 output","active":false,"console":"false","complete":"payload.power1","x":985,"y":148,"wires":[]},{"id":"695e9bb7.96a164","type":"function","z":"78a5ac8d.875a54","name":"If emonTH battery < 1.7V","func":"if (msg.payload.battery < 1.7) {\n   return {payload:'WARNING: emonTH battery low  '+msg.payload.battery+'V'  };\n}","outputs":1,"noerr":0,"x":985,"y":276,"wires":[["c5218ae.f3ade78"]]},{"id":"c5218ae.f3ade78","type":"delay","z":"78a5ac8d.875a54","name":"Limit 1 email per day","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":918,"y":360,"wires":[["d4395735.2bc6a8"]]},{"id":"d4395735.2bc6a8","type":"e-mail","z":"78a5ac8d.875a54","server":"smtp.gmail.com","port":"465","name":"","dname":"Send warning email","x":1168,"y":352,"wires":[]},{"id":"d083a4f0.2f7c58","type":"csv","z":"78a5ac8d.875a54","name":"emonTH 23: emonhub/23/values > Decode MQTT CSV","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"temp,temp_external,humidity,battery,pulsecount","x":631,"y":299,"wires":[["695e9bb7.96a164"]]}]