openevse-solarpv-divert.json
[{"id":"aeba25b.e9398d8","type":"inject","z":"ae0a36fe.fc7c58","name":"4kw (16.7A)","topic":"solar","payload":"4000","payloadType":"num","repeat":"","crontab":"","once":false,"x":433,"y":246,"wires":[["b9c3f455.9da388"]]},{"id":"c384712e.296db","type":"inject","z":"ae0a36fe.fc7c58","name":"100W (0.42A)","topic":"solar","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"x":442,"y":332,"wires":[["b9c3f455.9da388"]]},{"id":"8a3ecb57.c6f0e8","type":"inject","z":"ae0a36fe.fc7c58","name":"1: Eco","topic":"mode","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":386,"y":659,"wires":[["21b25721.5a50a8"]]},{"id":"95df15ae.97f9a8","type":"inject","z":"ae0a36fe.fc7c58","name":"2: Eco+","topic":"mode","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":394,"y":715,"wires":[["21b25721.5a50a8"]]},{"id":"a5068b6e.a4c918","type":"inject","z":"ae0a36fe.fc7c58","name":"3: Normal Charge (default)","topic":"mode","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":453,"y":769,"wires":[["21b25721.5a50a8"]]},{"id":"1c19f8ba.402947","type":"inject","z":"ae0a36fe.fc7c58","name":"4kw use (consumption)","topic":"use","payload":"4000","payloadType":"num","repeat":"","crontab":"","once":false,"x":396,"y":424,"wires":[["b9c3f455.9da388"]]},{"id":"ec9815e6.877b38","type":"inject","z":"ae0a36fe.fc7c58","name":"2Kw use (consumption) ","topic":"use","payload":"2000","payloadType":"str","repeat":"","crontab":"","once":false,"x":397,"y":471,"wires":[["b9c3f455.9da388"]]},{"id":"ff449437.ee8048","type":"inject","z":"ae0a36fe.fc7c58","name":"100W Use (consumption)","topic":"use","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"x":389,"y":516,"wires":[["b9c3f455.9da388"]]},{"id":"b9c3f455.9da388","type":"function","z":"ae0a36fe.fc7c58","name":"Calculate charge current","func":"\n// Load defaults\nvar vrms = global.get(\"vrms\");\nvar solar = global.get(\"solar\");\nvar use = global.get(\"use\");\nvar excess = global.get(\"excess\");\nvar max_charge_current = global.get(\"max_charge_current\");\nvar min_charge_current = global.get(\"min_charge_current\");\nvar charge_current = max_charge_current;\nvar mode = global.get(\"mode\");\nvar state = global.get(\"state\");\n\n// Get VRMS voltage\nif (msg.topic === \"vrms\") {\n    vrms = msg.payload;\n    global.set(\"vrms\",vrms);\n}\n\n// Get Solar PV gen & Convert to current (A)\nif (msg.topic === \"solar\") {\n    solar = msg.payload / vrms;\n    global.set(\"solar\",solar)\n}\n\n// Get on-site consumption & Convert to current (A)\nif (msg.topic === \"use\") {\n    use = msg.payload / vrms;\n    global.set(\"use\",use)\n}\n\n\n// Eco Mode\nif (mode == 1){\n    if (solar >= min_charge_current){\n        charge_current = solar;\n    }\n    else {\n        charge_current = min_charge_current;\n    }\n}\n\n// Eco+ Mode\nif (mode == 2){\n    excess = solar - use;\n    if (excess >= min_charge_current){\n        charge_current = excess;\n    }\n    else {\n        // Pause charging if no excess current\n        charge_current = 0; \n    }\n}\n\n// Normal Charge\nif (mode == 3){\n    charge_current = max_charge_current;\n}\n\ncharge_current=Math.round(charge_current);\n    \nreturn [{payload: charge_current}, {payload: mode}, {payload:state}];\n","outputs":"3","noerr":0,"x":810,"y":422,"wires":[["b6f2a8ca.f76938","892b10fd.caff8"],["36cc312.5359dce"],["d86a02c7.4b355"]]},{"id":"f08fd04b.79a72","type":"inject","z":"ae0a36fe.fc7c58","name":"2kw (8.3A)","topic":"solar","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"x":420,"y":289,"wires":[["b9c3f455.9da388"]]},{"id":"fb23dd58.d1eb5","type":"comment","z":"ae0a36fe.fc7c58","name":"SOLAR PV (topic: solar)","info":"Solar PV generation\n\n*Must always be positive*","x":360,"y":203,"wires":[]},{"id":"bbbfa9df.681b28","type":"comment","z":"ae0a36fe.fc7c58","name":"CONSUMPTION (topic: use)","info":"Onsite consumption\n\n*Must always be positive*","x":377,"y":381,"wires":[]},{"id":"25804ea6.f80432","type":"comment","z":"ae0a36fe.fc7c58","name":"CHARGING MODE (topic: mode)","info":"","x":294,"y":608,"wires":[]},{"id":"5a608d8d.5a18c4","type":"inject","z":"ae0a36fe.fc7c58","name":"240V VRMS","topic":"vrms","payload":"240","payloadType":"num","repeat":"","crontab":"","once":false,"x":401,"y":137,"wires":[["b9c3f455.9da388"]]},{"id":"b2b51b49.832898","type":"comment","z":"ae0a36fe.fc7c58","name":"VRMS (topic: vrms)","info":"VRMS voltage\n\nDefault 240V if no rms data is received","x":369,"y":80,"wires":[]},{"id":"b6f2a8ca.f76938","type":"debug","z":"ae0a36fe.fc7c58","name":"Charging Current debug","active":true,"console":"false","complete":"payload","x":819,"y":319,"wires":[]},{"id":"36cc312.5359dce","type":"debug","z":"ae0a36fe.fc7c58","name":"Mode debug","active":false,"console":"false","complete":"payload","x":1089,"y":449,"wires":[]},{"id":"21b25721.5a50a8","type":"function","z":"ae0a36fe.fc7c58","name":"Set charging mode","func":"if (msg.topic === \"mode\"){\n    global.set(\"mode\",msg.payload);\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":831,"y":502,"wires":[["36cc312.5359dce"]]},{"id":"36097cea.f32894","type":"inject","z":"ae0a36fe.fc7c58","name":"Inject at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":652,"y":178,"wires":[["54ed1489.4b8f6c"]]},{"id":"54ed1489.4b8f6c","type":"function","z":"ae0a36fe.fc7c58","name":"Set default values","func":"// Default to normal charge mode\nglobal.set(\"mode\",3);\n\n// Set min & max charging current (A)\n// If max charge current is greater than the max  \n// allowed current set in OpenEVSE charge rate will be max allowed\nglobal.set(\"max_charge_current\",32);\n\n// 6A min is defined by SAE/IEC standard\nglobal.set(\"min_charge_current\",6);\n\n// Charge current can be varied in 1A increments as defined by SAE/IEC\n\n// Default VRMS voltage\nglobal.set(\"vrms\",240);\n\n\n// Default to 'charging' state unless overwritten\nglobal.set(\"state\",3);\n// 1: Not Connected\n// 2: Connected\n// 3: Charging \n// 4-10: Error \n// 254: Sleeping\n// 255: Disabled\nreturn msg;","outputs":1,"noerr":0,"x":884,"y":177,"wires":[[]]},{"id":"892b10fd.caff8","type":"function","z":"ae0a36fe.fc7c58","name":"Generate RAPI","func":"var rapi_chargerate = \"$SC\";\nvar rapi_pause = \"$FS\";\nvar rapi_resume = \"$FE\";\nvar rapi =\"\";\nvar charge_rate = msg.payload;\nvar state = global.get(\"state\");\n\n// STATE\n// 1: Not Connected\n// 2: Connected\n// 3: Charging \n// 4-10: Error \n// 254: Sleeping\n// 255: Disabled\n\nif ((msg.payload === 0) && (state == 3)){\n    // pause charging if charging & charging rate = 0 \n    // Set sleeping state\n    state = 254;\n    global.set(\"state\",state)\n    rapi = {payload: rapi_pause};\n}\nif (msg.payload !== 0) {\n    if (state == 254){\n        // Resume / start charging if charging is paused\n        rapi = {payload: rapi_resume};\n        // Set charging state\n        state = 3;\n        global.set(\"state\",state)\n        return rapi;\n    }\n    if (state ==3){ \n        // If state==charging (default) set charge rate\n        rapi = {payload: rapi_chargerate + \" \" + charge_rate};\n    }\n}\nreturn rapi;","outputs":1,"noerr":0,"x":1010,"y":378,"wires":[["5a7a2753.059548","e479330b.2d448"]]},{"id":"e479330b.2d448","type":"debug","z":"ae0a36fe.fc7c58","name":"","active":true,"console":"false","complete":"false","x":1100,"y":310,"wires":[]},{"id":"5a7a2753.059548","type":"delay","z":"ae0a36fe.fc7c58","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1242,"y":365,"wires":[[]]},{"id":"d9b05c3b.38886","type":"comment","z":"ae0a36fe.fc7c58","name":"OPENEVSE STATE (topic: state)","info":"## STATES\n\n- 1: Not Connected\n- 2: Connected\n- 3: Charging \n- 4-10: Error \n- 254: Sleeping\n- 255: Disabled","x":853,"y":565,"wires":[]},{"id":"f6b74b4f.263248","type":"inject","z":"ae0a36fe.fc7c58","name":"3: Charging","topic":"state","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":809,"y":665,"wires":[["975d1759.9dc248"]]},{"id":"8b310dca.531c7","type":"inject","z":"ae0a36fe.fc7c58","name":"2: Connected","topic":"state","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":819,"y":621,"wires":[["975d1759.9dc248"]]},{"id":"40a72457.22ae8c","type":"inject","z":"ae0a36fe.fc7c58","name":"254: Sleeping","topic":"state","payload":"254","payloadType":"num","repeat":"","crontab":"","once":false,"x":801,"y":702,"wires":[["975d1759.9dc248"]]},{"id":"975d1759.9dc248","type":"function","z":"ae0a36fe.fc7c58","name":"Set charging state","func":"if (msg.topic === \"state\"){\n    global.set(\"state\",msg.payload);\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1046,"y":607,"wires":[["d86a02c7.4b355"]]},{"id":"d86a02c7.4b355","type":"debug","z":"ae0a36fe.fc7c58","name":"State debug","active":true,"console":"false","complete":"payload","x":1120,"y":530,"wires":[]}]
