openevse-solarpv-divert/openevse-solarpv-divert.json
[{"id":"1a6b5e73.c829e2","type":"inject","z":"183b477c.1c6f49","name":"DEBUG: Simulate  4kw (16.7A)","topic":"solar","payload":"4000","payloadType":"num","repeat":"","crontab":"","once":false,"x":209,"y":196,"wires":[["5c9c3727.2c7578"]]},{"id":"dbc5e458.393238","type":"inject","z":"183b477c.1c6f49","name":"DEBUG: Simulate  100W (0.42A)","topic":"solar","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"x":208,"y":265,"wires":[["5c9c3727.2c7578"]]},{"id":"ca7a2bed.e41b18","type":"inject","z":"183b477c.1c6f49","name":"DEBUG: Simulate  1: Eco","topic":"mode","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":189,"y":829,"wires":[["75506195.83d33"]]},{"id":"5f962ced.5dc4b4","type":"inject","z":"183b477c.1c6f49","name":"DEBUG: Simulate  2: Eco+","topic":"mode","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":187,"y":862,"wires":[["75506195.83d33"]]},{"id":"1344f4f8.49633b","type":"inject","z":"183b477c.1c6f49","name":"DEBUG: Simulate  3: Normal Charge (default)","topic":"mode","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":248,"y":898,"wires":[["75506195.83d33"]]},{"id":"666bb2a2.7f51ac","type":"inject","z":"183b477c.1c6f49","name":"DEBUG: Simulate  4kw use","topic":"use","payload":"4000","payloadType":"num","repeat":"","crontab":"","once":false,"x":188,"y":465,"wires":[["fe041018.18575"]]},{"id":"43fba5f1.264fbc","type":"inject","z":"183b477c.1c6f49","name":"DEBUG: Simulate  2Kw use","topic":"use","payload":"2000","payloadType":"str","repeat":"","crontab":"","once":false,"x":186,"y":500,"wires":[["fe041018.18575"]]},{"id":"3f3105c3.6c35ea","type":"inject","z":"183b477c.1c6f49","name":"DEBUG: Simulate  100W use","topic":"use","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"x":196,"y":535,"wires":[["fe041018.18575"]]},{"id":"56840352.e3390c","type":"function","z":"183b477c.1c6f49","name":"Calculate charge current","func":"\n// Load defaults\nvar vrms = global.get(\"vrms\");\nvar solar = global.get(\"solar\");\nvar use = global.get(\"use\");\nvar excess = global.get(\"excess\");\nvar max_charge_current = global.get(\"max_charge_current\");\nvar min_charge_current = global.get(\"min_charge_current\");\nvar charge_current = max_charge_current;\nvar mode = global.get(\"mode\");\nvar state = global.get(\"state\");\n\n// Get VRMS voltage\nif (msg.topic === \"vrms\") {\n    vrms = msg.payload;\n    global.set(\"vrms\",vrms);\n}\n\n// Get Solar PV gen & Convert to current (A)\nif (msg.topic === \"solar\") {\n    solar = msg.payload / vrms;\n    global.set(\"solar\",solar)\n}\n\n// Get on-site consumption & Convert to current (A)\nif (msg.topic === \"use\") {\n    use = msg.payload / vrms;\n    global.set(\"use\",use)\n}\n\n\n// Eco Mode\nif (mode == 1){\n    if (solar >= min_charge_current){\n        charge_current = solar;\n    }\n    else {\n        charge_current = min_charge_current;\n    }\n}\n\n// Eco+ Mode\nif (mode == 2){\n    excess = solar - use;\n    if (excess >= min_charge_current){\n        charge_current = excess;\n    }\n    else {\n        // Pause charging if no excess current\n        charge_current = 0; \n    }\n}\n\n// Normal Charge\nif (mode == 3){\n    charge_current = max_charge_current;\n}\n\ncharge_current=Math.round(charge_current);\n    \nreturn [{payload: charge_current}, {payload: mode}, {payload:state}];\n","outputs":"3","noerr":0,"x":657,"y":432,"wires":[["7eb4a5ce.d5044c","5c69777e.0dc8b8"],["aca2728f.831fc"],["c064cc0.bada138"]]},{"id":"aed3612.19864a","type":"inject","z":"183b477c.1c6f49","name":"DEBUG: Simulate  2kw (8.3A)","topic":"solar","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"x":198,"y":230,"wires":[["5c9c3727.2c7578"]]},{"id":"e730a9e3.df5048","type":"comment","z":"183b477c.1c6f49","name":"INPUT SOLAR PV (topic: solar)","info":"Solar PV generation\n\n*Must always be positive*\n\n## Input Options \n\n*Configure as appropriate*\n\n### MQTT\n\n- emonPi MQTT server username: `emonpimqtt` password: `emonpimqtt2016`\n- emonPi default topic `emon/emonpi/power1`\n- emonTx (node 8) default topic `emon/emontx3/power1`\n\n### Emoncms\n\n- Configure node with Host, read API key and feed ID\n- https://emoncms.org","x":189,"y":48,"wires":[]},{"id":"1d5ce07d.4cd03","type":"comment","z":"183b477c.1c6f49","name":"INPUT CONSUMPTION (topic: use)","info":"Onsite consumption\n\n*Must always be positive*\n\n## Input Options \n\n*Configure as appropriate*\n\n### MQTT\n\n- emonPi MQTT server username: `emonpimqtt` password: `emonpimqtt2016`\n- emonPi default topic `emon/emonpi/power2`\n- emonTx (node 8) default topic `emon/emontx3/power2`\n\n### Emoncms\n\n- Configure node with Host, read API key and feed ID\n- https://emoncms.org","x":191,"y":320,"wires":[]},{"id":"c20510dc.44687","type":"comment","z":"183b477c.1c6f49","name":"INPUT CHARGING MODE (topic: mode)","info":"","x":213,"y":735,"wires":[]},{"id":"17709422.27699c","type":"comment","z":"183b477c.1c6f49","name":"INPUT VRMS (topic: vrms)","info":"VRMS voltage\n\nDefault 240V if no rms data is received\n\n## Input Options \n\n*Configure as appropriate*\n\n### MQTT\n\n- emonPi MQTT server username: `emonpimqtt` password: `emonpimqtt2016`\n- emonPi default topic `emon/emonpi/vmrs`\n- emonTx (node 8) default topic `emon/emontx3/vrms`\n\n### Emoncms\n\n- Configure node with Host, read API key and feed ID\n- https://emoncms.org","x":159,"y":578,"wires":[]},{"id":"7eb4a5ce.d5044c","type":"debug","z":"183b477c.1c6f49","name":"Charging Current debug","active":false,"console":"false","complete":"payload","x":965,"y":507,"wires":[]},{"id":"aca2728f.831fc","type":"debug","z":"183b477c.1c6f49","name":"Mode debug","active":false,"console":"false","complete":"payload","x":926,"y":551,"wires":[]},{"id":"b254b2ff.a580c","type":"function","z":"183b477c.1c6f49","name":"Set charging mode","func":"if (msg.topic === \"mode\"){\n    global.set(\"mode\",msg.payload);\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":658,"y":494,"wires":[["aca2728f.831fc"]]},{"id":"2ceb94b.cb06a6c","type":"inject","z":"183b477c.1c6f49","name":"Inject at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":493,"y":104,"wires":[["203cd05a.46df4"]]},{"id":"203cd05a.46df4","type":"function","z":"183b477c.1c6f49","name":"Set default values","func":"// Default to normal charge mode\nglobal.set(\"mode\",3);\n\n// Set min & max charging current (A)\n// If max charge current is greater than the max  \n// allowed current set in OpenEVSE charge rate will be max allowed\nglobal.set(\"max_charge_current\",32);\n\n// 6A min is defined by SAE/IEC standard\nglobal.set(\"min_charge_current\",6);\n\n// Charge current can be varied in 1A increments as defined by SAE/IEC\n\n// Default VRMS voltage\nglobal.set(\"vrms\",240);\n\n\n// Default to 'charging' state unless overwritten\nglobal.set(\"state\",3);\n// 1: Not Connected\n// 2: Connected\n// 3: Charging \n// 4-10: Error \n// 254: Sleeping\n// 255: Disabled\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":103,"wires":[[]]},{"id":"5c69777e.0dc8b8","type":"function","z":"183b477c.1c6f49","name":"Generate RAPI","func":"var rapi_chargerate = \"$SC\";\nvar rapi_pause = \"$FS\";\nvar rapi_resume = \"$FE\";\nvar rapi =\"\";\nvar charge_rate = msg.payload;\nvar state = global.get(\"state\");\n\n// STATE\n// 1: Not Connected\n// 2: Connected\n// 3: Charging \n// 4-10: Error \n// 254: Sleeping\n// 255: Disabled\n\nif ((msg.payload === 0) && (state == 3)){\n    // pause charging if charging & charging rate = 0 \n    // Set sleeping state\n    state = 254;\n    global.set(\"state\",state)\n    rapi = {payload: rapi_pause};\n}\nif (msg.payload !== 0) {\n    if (state == 254){\n        // Resume / start charging if charging is paused\n        rapi = {payload: rapi_resume};\n        // Set charging state\n        state = 3;\n        global.set(\"state\",state)\n        return rapi;\n    }\n    if (state ==3){ \n        // If state==charging (default) set charge rate\n        rapi = {payload: rapi_chargerate + \" \" + charge_rate};\n    }\n}\nreturn rapi;","outputs":1,"noerr":0,"x":669,"y":357,"wires":[["eb12631b.67a2c","13a13530.6cff0b"]]},{"id":"eb12631b.67a2c","type":"debug","z":"183b477c.1c6f49","name":"RAPI Debug","active":true,"console":"false","complete":"payload","x":926,"y":472,"wires":[]},{"id":"13a13530.6cff0b","type":"delay","z":"183b477c.1c6f49","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690,"y":288,"wires":[["3a5d5b33.d0f0f4","3b9c31dd.15b4de","334c31e0.bb681e"]]},{"id":"209324b5.b67f5c","type":"comment","z":"183b477c.1c6f49","name":"INPUT OPENEVSE STATE (topic: state)","info":"## STATES\n\n- 1: Not Connected\n- 2: Connected\n- 3: Charging \n- 4-10: Error \n- 254: Sleeping\n- 255: Disabled","x":210,"y":957,"wires":[]},{"id":"df51dacb.ae9d58","type":"inject","z":"183b477c.1c6f49","name":"DEBUG: Simulate 3: Charging","topic":"state","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":194,"y":1077,"wires":[["57cc6a6b.55aab4"]]},{"id":"aca22425.2e5898","type":"inject","z":"183b477c.1c6f49","name":"DEBUG: Simulate  2: Connected","topic":"state","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":205,"y":1041,"wires":[["57cc6a6b.55aab4"]]},{"id":"c26f096c.7f3028","type":"inject","z":"183b477c.1c6f49","name":"DEBUG: Simulate  254: Sleeping","topic":"state","payload":"254","payloadType":"num","repeat":"","crontab":"","once":false,"x":203,"y":1113,"wires":[["57cc6a6b.55aab4"]]},{"id":"6c18a454.518a9c","type":"function","z":"183b477c.1c6f49","name":"Set charging state","func":"if (msg.topic === \"state\"){\n    global.set(\"state\",msg.payload);\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":665,"y":543,"wires":[["c064cc0.bada138"]]},{"id":"c064cc0.bada138","type":"debug","z":"183b477c.1c6f49","name":"State debug","active":false,"console":"false","complete":"payload","x":931,"y":593,"wires":[]},{"id":"d3107bd9.c0bbc8","type":"mqtt in","z":"183b477c.1c6f49","name":"","topic":"emon/emonpi/vrms","qos":"2","broker":"396670b0.0ef31","x":235,"y":673,"wires":[["bf6ea20c.3fa45"]]},{"id":"bf6ea20c.3fa45","type":"change","z":"183b477c.1c6f49","name":"VRMS Input","rules":[{"t":"set","p":"topic","pt":"msg","to":"vrms","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":438,"y":611,"wires":[["56840352.e3390c"]]},{"id":"5c9c3727.2c7578","type":"change","z":"183b477c.1c6f49","name":"Solar Input","rules":[{"t":"set","p":"topic","pt":"msg","to":"solar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":230,"wires":[["56840352.e3390c"]]},{"id":"ce619824.41b288","type":"mqtt in","z":"183b477c.1c6f49","name":"","topic":"emon/emonpi/power1","qos":"2","broker":"396670b0.0ef31","x":239,"y":90,"wires":[["5c9c3727.2c7578"]]},{"id":"c9996957.2bc498","type":"mqtt in","z":"183b477c.1c6f49","name":"","topic":"emon/emonpi/power2","qos":"2","broker":"396670b0.0ef31","x":216,"y":362,"wires":[["fe041018.18575"]]},{"id":"fe041018.18575","type":"change","z":"183b477c.1c6f49","name":"Use Input","rules":[{"t":"set","p":"topic","pt":"msg","to":"use","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":409,"y":455,"wires":[["56840352.e3390c"]]},{"id":"c21930db.d1878","type":"mqtt in","z":"183b477c.1c6f49","name":"","topic":"openevse/mode","qos":"2","broker":"396670b0.0ef31","x":226,"y":785,"wires":[["75506195.83d33"]]},{"id":"75506195.83d33","type":"change","z":"183b477c.1c6f49","name":"Mode Input","rules":[{"t":"set","p":"topic","pt":"msg","to":"mode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":419,"y":789,"wires":[["b254b2ff.a580c"]]},{"id":"ff95379f.3e4d78","type":"mqtt in","z":"183b477c.1c6f49","name":"","topic":"openevse/state","qos":"2","broker":"396670b0.0ef31","x":249,"y":994,"wires":[["57cc6a6b.55aab4"]]},{"id":"57cc6a6b.55aab4","type":"change","z":"183b477c.1c6f49","name":"State Input","rules":[{"t":"set","p":"topic","pt":"msg","to":"state","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":461,"y":984,"wires":[["6c18a454.518a9c"]]},{"id":"b95cdecb.03be5","type":"comment","z":"183b477c.1c6f49","name":"RAPI OUTPUT","info":"\n\n## Output Options \n\n*Configure as appropriate*\n\n**ONLY USE ONE**\n\n### MQTT\n\n- emonPi MQTT server: \n- Username: `emonpimqtt` \n- Password: `emonpimqtt2016`\n- OpenEVSE MQTT topic:\n`base-topic>/rapi/in`\n- Assuming base topic = openevse\n`openevse/rapi/in`\n\n### HTTP\n\n- Enter OpeneEVSE IP address in generate HTTP RAPI function\n- Default host name is http://openevse\n\n### Direct serial \n\n- Via direct serial connection to OpenEVSE using USB to UART cable \n- Default baud 115200\n\nhttp://openevse.dozuki.com/Guide/Serial+Communications+with+OpenEVSE/13\n","x":1252,"y":206,"wires":[]},{"id":"3a5d5b33.d0f0f4","type":"function","z":"183b477c.1c6f49","name":"Generate RAPI MQTT","func":"// OpenEVSE MQTT topic <base-topic>/rapi/in\n\nvar openevse_mqtt = \"openevse/rapi/in/\";\n\n// split on space\nvar output = msg.payload.split(\" \");\n \nvar rapi_message = output[0];\nvar rapi_payload = output[1];\n\n\nmsg.topic = openevse_mqtt + rapi_message;\nmsg.payload = rapi_payload;\n\nreturn [msg];\n\n\n\n","outputs":1,"noerr":0,"x":912,"y":161,"wires":[["73a08d7c.b585a4","f16e2e86.2ce5e","4d31e21c.2f957c"]]},{"id":"859ba3d3.a0da5","type":"http request","z":"183b477c.1c6f49","name":"","method":"GET","ret":"txt","url":"","x":1237.5,"y":315,"wires":[["9240fbd2.5fa1a8"]]},{"id":"3b9c31dd.15b4de","type":"function","z":"183b477c.1c6f49","name":"Generate HTTP","func":"// Example: http://openevse/r?rapi=%24SC+13\n// Hostname openevse should work on most networks if running latest 2.0 firmware\n// Change openevse to local IP address if needed\n\nvar openevse_http = \"http://openevse/r?rapi=%\";\n\n// split on space\nvar output = msg.payload.split(\" \");\n \nvar rapi_message = output[0];\nvar rapi_payload = output[1];\n// remove $ symbol\nrapi_message = rapi_message.slice( 1 );\n\nif (rapi_payload){\n    msg.payload = openevse_http + rapi_message + \"+\" + rapi_payload;\n}\nelse{\n    // don't include value for RAPI commands with no value e.g FS\n    msg.payload = openevse_http + rapi_message;\n}\n\n\nreturn [msg];\n","outputs":1,"noerr":0,"x":926,"y":292,"wires":[["2786219d.bbd3ce"]]},{"id":"73a08d7c.b585a4","type":"debug","z":"183b477c.1c6f49","name":"DEBUG: MQTT rapi/in topic","active":false,"console":"false","complete":"topic","x":972,"y":198,"wires":[]},{"id":"f16e2e86.2ce5e","type":"debug","z":"183b477c.1c6f49","name":"DEBUG: MQTT rapi/in message","active":false,"console":"false","complete":"payload","x":974,"y":233,"wires":[]},{"id":"4d31e21c.2f957c","type":"mqtt out","z":"183b477c.1c6f49","name":"","topic":"","qos":"","retain":"","broker":"396670b0.0ef31","x":1227,"y":254,"wires":[]},{"id":"2786219d.bbd3ce","type":"debug","z":"183b477c.1c6f49","name":"DEUBG HTTP","active":true,"console":"false","complete":"payload","x":937,"y":328,"wires":[]},{"id":"51298cf8.36cbd4","type":"emoncms in","z":"183b477c.1c6f49","name":"Emoncms","feedid":"","x":282,"y":135,"wires":[[]]},{"id":"6c9bdf84.b424e","type":"serial out","z":"183b477c.1c6f49","name":"","serial":"25876359.564b1c","x":1237.5,"y":397,"wires":[]},{"id":"9240fbd2.5fa1a8","type":"debug","z":"183b477c.1c6f49","name":"HTTP responce","active":true,"console":"false","complete":"payload","x":1428,"y":296,"wires":[]},{"id":"4558eb87.d5a494","type":"inject","z":"183b477c.1c6f49","name":"Request update","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":113,"y":135,"wires":[["51298cf8.36cbd4"]]},{"id":"22e1491a.0d9dd6","type":"emoncms in","z":"183b477c.1c6f49","name":"Emoncms","feedid":"","x":269,"y":411,"wires":[[]]},{"id":"69178911.729408","type":"inject","z":"183b477c.1c6f49","name":"Request update","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":100,"y":411,"wires":[["22e1491a.0d9dd6"]]},{"id":"e60b5b3f.bd47e8","type":"emoncms in","z":"183b477c.1c6f49","name":"Emoncms","feedid":"","x":264,"y":630,"wires":[[]]},{"id":"be8367e2.50e668","type":"inject","z":"183b477c.1c6f49","name":"Request update","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":95,"y":625,"wires":[["e60b5b3f.bd47e8"]]},{"id":"334c31e0.bb681e","type":"function","z":"183b477c.1c6f49","name":"Generate Serial","func":"return msg;\n","outputs":1,"noerr":0,"x":943,"y":394,"wires":[[]]},{"id":"396670b0.0ef31","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"25876359.564b1c","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]
